html {
  background-color: #fffffc;
  color: #333333;
  font-family: 'Nunito', sans-serif;
}

body,
h1,
h5,
h3 {
  margin: 0;
}

h1 {
  margin-top: 0.5em;
  font-size: 4em;
}

h2 {
  margin-top: 0;
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSection {
  width: 99%;
}

.entryHeadTitle {
  margin: 0;
}

.mainSection {
  display: flex;
  justify-content: space-around;
}

.entryContainer {
  margin: 2em;
  height: 331px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: flex-start; */
}

.createEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
}

.entryCard {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0.5px;
  padding: 0.5em;
  border-radius: 0.25em;
}

.entryCard:hover {
  opacity: 0.75;
}

.entryDetailsList {
  margin: 0;
  padding: 0;
}

.entryDetail {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: hsl(60, 100%, 99%, 0.8);
  text-shadow: 1px 1px 3px hsla(0, 0%, 20%, 0.5);
}

.moodDesc {
  font-size: 2em;
  font-weight: 700;
  text-shadow: 1px 1px 3px hsl(60, 100%, 99%, 0.5);
}

/* .Sat {
  border-top: 2px solid hsl(0, 0%, 20%, 0.5);
} */
.mood0 {
  box-shadow: inset 0px 0px 2px #333333;
}
.mood0,
.hidden0 {
  text-shadow: none;
  color: #fffffc;
  background-color: #fffffc;
}

.mood1 {
  background-color: #ee6055;
}

.mood2 {
  background-color: #ff9b85;
}

.mood3 {
  background-color: #ffd97d;
}

.mood4 {
  background-color: #60d394;
}

.mood5 {
  background-color: #aaf683;
}

.moodSlider {
  width: 250px;
  appearance: none;
}

.moodSlider::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid #333333;
  height: 2em;
  width: 1em;
  border-radius: 1em;
  background: #fffffc;
  cursor: pointer;
}
